
<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 
{% load custom_filters %}
{%load static%}

{% block title %}
Поиск объявлений
{% endblock title %}
 
{% block content %}
<h1 class="git">Поиск объявлений</h1>
<h3>{{ time_now|date:'M d Y' }}</h3>
<hr>
<form method="GET" class="box1">
	{{ filter.form }}
	<input type="submit" value="Найти">
</form>



{% for announcement in announcements %}
<div class="blog-item">
	<div class="blog-thumb">
		<img src="{{ announcement.get_first_photo_href }}" alt="Image" height="200" width="200">
	</div>
	<div class="blog-text text-box text-white">
		<div class="top-meta">{{announcement.created_at_date}}  / <a href="">{{ announcement.category.all.first }}</a></div>
		<h3>{{announcement.announcement_author}}</h3>
		<p>{{announcement.main_text|censor|truncatechars:50}}</p>
		<a href="{{ announcement.get_absolute_url }}" class="read-more">Подробнее  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
		</div>
	</div>
{% endfor %}

{%if request.build_absolute_uri != "http://127.0.0.1:8000/announcements/search/"%}

{% if announcements.has_other_pages %}
<div class="container1">
    	<ul class="pagination">
    {% if announcements.has_previous %}

        <li><a href="&page=1">First</a></li>
        <li><a href="{{request.build_absolute_uri|path_without_pages}}&page={{ announcements.previous_page_number }}"><<<</a></li>
    {% endif %}
    {% for num in announcements.paginator.page_range %}
        {% if announcements.number == num %}
            <li><a>{{ num }}</a></li>
        {% elif num > announcements.number|add:'-2' and num < announcements.number|add:'2' %}
            <li><a href="{{request.build_absolute_uri|path_without_pages}}&page={{ num }}">{{ num }}</a></li>
        {% endif %}
    {% endfor %}
    {% if announcements.has_next %}
        <li><a href="{{request.build_absolute_uri|path_without_pages}}&page={{ announcements.next_page_number }}">>>></a></li>
        <li><a href="{{request.build_absolute_uri|path_without_pages}}&page={{announcements.paginator.num_pages }}">Last</a></li>
    {% endif %}
        </ul>
    </div>

{% endif %}
{%endif%}
{% endblock content %}